PORT=3001

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=gisele_flavia_modas
DB_USER=postgres
DB_PASSWORD=postgres

CORS_ORIGIN=http://127.0.0.1:5500
JWT_SECRET=troque_este_segredo_em_producao
JWT_EXPIRES_IN=8h

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_ENV=sandbox
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_WEBHOOK_ENABLED=true
APP_PUBLIC_URL=http://localhost:5500
