PORT=3001

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=gisele_flavia_modas
DB_USER=postgres
DB_PASSWORD=postgres

CORS_ORIGIN=http://127.0.0.1:5500
JWT_SECRET=troque_este_segredo_em_producao
JWT_EXPIRES_IN=8h

